body {
    background: #F1F1F1;
}

h1 {
    /* Send parcel */

    position: absolute;
    width: 116px;
    height: 36px;
    left: 24px;
    top: 52px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #111111;
}

h2 {
    /* Delivery method */

    position: absolute;
    width: 137px;
    height: 24px;
    left: 24px;
    top: 105px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #111111;
}


box {
    /* Rectangle */

    position: absolute;
    left: 6.4%;
    right: 6.4%;
    top: 17.98%;
    bottom: 23.77%;

    background: #FFFFFF;

    /* Grey / Lighter */

    border: 1px solid #F8F8F8;
    box-shadow: 0px 0px 10px rgba(230, 230, 230, 0.5);
    border-radius: 4px;
}

icon {
    /* Icon / Gift */

    position: absolute;
    width: 63px;
    height: 63px;
    left: 54px;
    top: 166px;

}

p1 {
    /* From door to door */

    position: absolute;
    height: 18px;
    left: 38.4%;
    right: 31.73%;
    top: calc(50% - 18px/2 - 223px);

    /* Body text 1 / Bold */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    /* Black */

    color: #111111;

}

p2 {
    /* 48 hours delivery */

    position: absolute;
    height: 15px;
    left: 38.4%;
    right: 39.73%;
    top: calc(50% - 15px/2 - 199.5px);

    /* Body text 2 / Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */


    /* Black / Opacity 50% */

    color: rgba(51, 51, 51, 0.5);
}